@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #2969b0 !important;
}
.bg-success {
  background-color: #2969b0 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #2969b0 !important;
}
.text-success {
  color: #2969b0 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #2969b0;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #2969b0;
}
.btn-social:hover {
  background: #2969b0;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #2969b0;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #2969b0;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #2969b0;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #2969b0;
}
.lead a,
.lead a:hover {
  color: #2969b0;
}
.lead blockquote {
  border-color: #2969b0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #2969b0;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#msg-box7-d .mbr-section-title,
#msg-box7-d .lead p {
  color: #fff;
}
#video1-5 P {
  text-align: center;
}
#video1-5 DIV {
  text-align: center;
}
#ext_menu-n .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-n .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-n .navbar-toggler {
  color: #ffffff;
}
#ext_menu-n .close-icon::before,
#ext_menu-n .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-n .link,
#ext_menu-n .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-n .link {
  font-size: 0.75rem;
}
#ext_menu-n .dropdown-item,
#ext_menu-n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-n .link:hover,
#ext_menu-n .dropdown-item:hover,
#ext_menu-n .link:focus,
#ext_menu-n .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-n .link[aria-expanded="true"],
#ext_menu-n .dropdown-menu {
  background: #141414;
}
#ext_menu-n .nav-dropdown-sm .link:focus,
#ext_menu-n .nav-dropdown-sm .link:hover,
#ext_menu-n .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-n .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-n .navbar,
#ext_menu-n .nav-dropdown-sm,
#ext_menu-n .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-n .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-n .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-n .bg-color.transparent.opened .link:hover,
#ext_menu-n .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-n .link[aria-expanded="true"],
#ext_menu-n .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#footer1-3d P {
  color: #ffffff;
  text-align: right;
  font-size: 15px;
}


#ext_menu-o .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-o .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-o .navbar-toggler {
  color: #ffffff;
}
#ext_menu-o .close-icon::before,
#ext_menu-o .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-o .link,
#ext_menu-o .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-o .link {
  font-size: 0.75rem;
}
#ext_menu-o .dropdown-item,
#ext_menu-o .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-o .link:hover,
#ext_menu-o .dropdown-item:hover,
#ext_menu-o .link:focus,
#ext_menu-o .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-menu {
  background: #141414;
}
#ext_menu-o .nav-dropdown-sm .link:focus,
#ext_menu-o .nav-dropdown-sm .link:hover,
#ext_menu-o .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-o .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-o .navbar,
#ext_menu-o .nav-dropdown-sm,
#ext_menu-o .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-o .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-o .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-o .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-o .bg-color.transparent.opened .link:hover,
#ext_menu-o .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-o .link[aria-expanded="true"],
#ext_menu-o .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box7-t .mbr-section-title,
#msg-box7-t .lead p {
  color: #fff;
}
#msg-box7-17 .mbr-section-title,
#msg-box7-17 .lead p {
  color: #fff;
}
#msg-box7-1d .mbr-section-title,
#msg-box7-1d .lead p {
  color: #fff;
}


#ext_menu-w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-w .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-w .close-icon::before,
#ext_menu-w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-w .link,
#ext_menu-w .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-w .link {
  font-size: 0.75rem;
}
#ext_menu-w .dropdown-item,
#ext_menu-w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-w .link:hover,
#ext_menu-w .dropdown-item:hover,
#ext_menu-w .link:focus,
#ext_menu-w .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-menu {
  background: #141414;
}
#ext_menu-w .nav-dropdown-sm .link:focus,
#ext_menu-w .nav-dropdown-sm .link:hover,
#ext_menu-w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-w .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-w .navbar,
#ext_menu-w .nav-dropdown-sm,
#ext_menu-w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-w .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-w .bg-color.transparent.opened .link:hover,
#ext_menu-w .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-w .link[aria-expanded="true"],
#ext_menu-w .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box6-y .mbr-section-title,
#msg-box6-y .lead p {
  color: #fff;
}
#msg-box7-z .mbr-section-title,
#msg-box7-z .lead p {
  color: #fff;
}


#ext_menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-13 .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-13 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-13 .close-icon::before,
#ext_menu-13 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-13 .link,
#ext_menu-13 .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-13 .link {
  font-size: 0.75rem;
}
#ext_menu-13 .dropdown-item,
#ext_menu-13 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-13 .link:hover,
#ext_menu-13 .dropdown-item:hover,
#ext_menu-13 .link:focus,
#ext_menu-13 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-menu {
  background: #141414;
}
#ext_menu-13 .nav-dropdown-sm .link:focus,
#ext_menu-13 .nav-dropdown-sm .link:hover,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-13 .navbar,
#ext_menu-13 .nav-dropdown-sm,
#ext_menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-13 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-13 .bg-color.transparent.opened .link:hover,
#ext_menu-13 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-13 .link[aria-expanded="true"],
#ext_menu-13 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}


#ext_menu-19 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-19 .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-19 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-19 .close-icon::before,
#ext_menu-19 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-19 .link,
#ext_menu-19 .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-19 .link {
  font-size: 0.75rem;
}
#ext_menu-19 .dropdown-item,
#ext_menu-19 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-19 .link:hover,
#ext_menu-19 .dropdown-item:hover,
#ext_menu-19 .link:focus,
#ext_menu-19 .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-19 .link[aria-expanded="true"],
#ext_menu-19 .dropdown-menu {
  background: #141414;
}
#ext_menu-19 .nav-dropdown-sm .link:focus,
#ext_menu-19 .nav-dropdown-sm .link:hover,
#ext_menu-19 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-19 .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-19 .navbar,
#ext_menu-19 .nav-dropdown-sm,
#ext_menu-19 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-19 .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-19 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-19 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-19 .bg-color.transparent.opened .link:hover,
#ext_menu-19 .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-19 .link[aria-expanded="true"],
#ext_menu-19 .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box6-1c .mbr-section-title,
#msg-box6-1c .lead p {
  color: #fff;
}


#ext_menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1h .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-1h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1h .close-icon::before,
#ext_menu-1h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1h .link,
#ext_menu-1h .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-1h .link {
  font-size: 0.75rem;
}
#ext_menu-1h .dropdown-item,
#ext_menu-1h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1h .link:hover,
#ext_menu-1h .dropdown-item:hover,
#ext_menu-1h .link:focus,
#ext_menu-1h .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-menu {
  background: #141414;
}
#ext_menu-1h .nav-dropdown-sm .link:focus,
#ext_menu-1h .nav-dropdown-sm .link:hover,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-1h .navbar,
#ext_menu-1h .nav-dropdown-sm,
#ext_menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1h .bg-color.transparent.opened .link:hover,
#ext_menu-1h .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#form1-1l .form-control-label {
  color: #232323;
}


#ext_menu-1h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1h .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-1h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-1h .close-icon::before,
#ext_menu-1h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-1h .link,
#ext_menu-1h .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-1h .link {
  font-size: 0.75rem;
}
#ext_menu-1h .dropdown-item,
#ext_menu-1h .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-1h .link:hover,
#ext_menu-1h .dropdown-item:hover,
#ext_menu-1h .link:focus,
#ext_menu-1h .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-menu {
  background: #141414;
}
#ext_menu-1h .nav-dropdown-sm .link:focus,
#ext_menu-1h .nav-dropdown-sm .link:hover,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1h .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-1h .navbar,
#ext_menu-1h .nav-dropdown-sm,
#ext_menu-1h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1h .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-1h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-1h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1h .bg-color.transparent.opened .link:hover,
#ext_menu-1h .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-1h .link[aria-expanded="true"],
#ext_menu-1h .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box6-2w .mbr-section-title,
#msg-box6-2w .lead p {
  color: #fff;
}
#msg-box6-2w H3 {
  text-align: center;
  font-size: 24px;
}
#msg-box6-2w U {
  text-align: right;
}
#msg-box6-2w B {
  text-align: center;
  color: #f3c649;
}
#msg-box6-2w .btn {
  font-size: 13px;
}


#ext_menu-2m .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2m .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-2m .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2m .close-icon::before,
#ext_menu-2m .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2m .link,
#ext_menu-2m .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-2m .link {
  font-size: 0.75rem;
}
#ext_menu-2m .dropdown-item,
#ext_menu-2m .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2m .link:hover,
#ext_menu-2m .dropdown-item:hover,
#ext_menu-2m .link:focus,
#ext_menu-2m .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2m .link[aria-expanded="true"],
#ext_menu-2m .dropdown-menu {
  background: #141414;
}
#ext_menu-2m .nav-dropdown-sm .link:focus,
#ext_menu-2m .nav-dropdown-sm .link:hover,
#ext_menu-2m .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2m .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-2m .navbar,
#ext_menu-2m .nav-dropdown-sm,
#ext_menu-2m .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2m .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-2m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2m .bg-color.transparent.opened .link:hover,
#ext_menu-2m .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2m .link[aria-expanded="true"],
#ext_menu-2m .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box6-2o .mbr-section-title,
#msg-box6-2o .lead p {
  color: #fff;
}
#msg-box6-2o H3 {
  text-align: center;
  font-size: 24px;
}
#msg-box6-2o U {
  text-align: right;
}
#msg-box6-2o B {
  text-align: center;
  color: #f3c649;
}
#msg-box6-2o .btn {
  font-size: 13px;
}


#ext_menu-2p .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2p .navbar-caption {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}
#ext_menu-2p .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2p .close-icon::before,
#ext_menu-2p .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2p .link,
#ext_menu-2p .dropdown-item {
  color: #ffffff;
  font-family: 'Bitter', serif;
}
#ext_menu-2p .link {
  font-size: 0.75rem;
}
#ext_menu-2p .dropdown-item,
#ext_menu-2p .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#ext_menu-2p .link:hover,
#ext_menu-2p .dropdown-item:hover,
#ext_menu-2p .link:focus,
#ext_menu-2p .dropdown-item:focus {
  color: #2969b0;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-menu {
  background: #141414;
}
#ext_menu-2p .nav-dropdown-sm .link:focus,
#ext_menu-2p .nav-dropdown-sm .link:hover,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2p .nav-dropdown-sm .dropdown-item:hover {
  background: #262626!important;
}
#ext_menu-2p .navbar,
#ext_menu-2p .nav-dropdown-sm,
#ext_menu-2p .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2p .nav-dropdown-sm .dropdown-menu {
  background: #2e2e2e;
}
#ext_menu-2p .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2p .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2p .bg-color.transparent.opened .link:hover,
#ext_menu-2p .bg-color.transparent.opened .link:focus {
  color: #2969b0;
}
#ext_menu-2p .link[aria-expanded="true"],
#ext_menu-2p .dropdown-item[aria-expanded="true"] {
  color: #2969b0!important;
}
#msg-box6-2r .mbr-section-title,
#msg-box6-2r .lead p {
  color: #fff;
}
#msg-box6-2r H3 {
  text-align: center;
  font-size: 24px;
}
#msg-box6-2r U {
  text-align: right;
}
#msg-box6-2r B {
  text-align: center;
  color: #f3c649;
}
#msg-box6-2r .btn {
  font-size: 13px;
}
